body{
  margin: 0;
  max-height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}
.NavBar{
  background-color: rgb(0, 87, 155);
  grid-area: NavBar;
  display: flex;
  color: white;
  justify-content: space-between;
  
}
.logo{
  margin-left: 20px ;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
h1{
  margin-left: 20px ;
  font-weight: 200;
}
#menu{
  margin-top: 10px;
  margin-right: 20px;
}
.mdi{
  margin-top: 8px;
}
.listado{
  display: none;
  cursor: pointer;
}
.Ordenar{
  margin: 0;
  padding: 0;
  font-size: 10px;
  background-color: rgb(225, 225, 225);
  grid-area: Ordenar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Ordenar h2{
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 200;
  
}
select {
  width: 300px;
  height: 30px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  color: grey;
  cursor: pointer;
}
.Galeria{
  grid-area: Galeria;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.imagenes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}
.card{
  width: 200px;
  height: 350px;
  border: 1px solid lightgrey;
  box-shadow: 4px 4px 2px lightgrey;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
  
  
}
.card img{
  max-width: 95%;
  margin-top: 40px;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info h2{
  margin: 5px;
  padding: 0;
  font-size: 18px;
  font-weight: 200;
}
.info button{
  margin: 5px;
  padding: 0;
  font-size: 14px;
  width:100px ;
  height: 30px;
  background-color: rgb(0, 87, 155);
  color: white;
  border-color: transparent;
  border-radius: 3px;
  cursor: pointer;
}

.Paginas{
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Paginas p{
  border: 1px solid  rgb(225, 225, 225);
  width: 30px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  color:  rgb(113, 158, 251);
  cursor: pointer;
}
.Footer{
  background-color: rgb(1, 47, 107);
  grid-area: Footer;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Footer p{
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.redesSociales{
  cursor: pointer;
}
.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 80px calc(100vh - 240px) 80px;
  grid-template-areas: 
    'NavBar'
    'Ordenar'
    'Galeria'
    'Footer'
    ;
 

}
@media (min-width : 576px) {
  .grid-container{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 60px calc(100vh - 180px) 60px 60px;
    grid-template-areas: 
      'NavBar NavBar'
      'Ordenar Galeria'
      'Ordenar Galeria'
      'Footer Footer'
      ;  
  } 
  #menu{
    display: none;
  }
  .listado{
    display: block flex;
    font-size: 18px;
    list-style-type: none;
    margin-right: 40px;
  }
  .listado li{
    margin-right: 20px;
  }
  .Ordenar{
    justify-content: start;
    gap: 10px;
  }
  .Ordenar h2{
    margin-top: 10px;
  }
  select {
    
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    color: grey;
  }
}

@media (min-width : 992px) {
  .grid-container{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 60px calc(100vh - 180px) 60px 60px;
    grid-template-areas: 
      'NavBar Ordenar'
      'NavBar Galeria'
      'Footer Galeria'
      'Footer Galeria'
      ;  
  } 
  .NavBar{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .Ordenar{
    justify-content: center;
    gap: 0;
  }
  .Ordenar h2{
    margin-top: 0;
  }
    select {
    width: 80%;
    height: 25px;
  }
  .listado{
    flex-direction: column;
    align-items: center;
  }
  .listado li{
    margin-bottom: 15px;
  }
  .logo{
    margin: 0;
    margin-top: 10px;
  }
  .Footer p{
    max-width: 75%;
    text-align: center;
    word-wrap: break-word;
  }
  .Footer{
    margin: 0;
    gap: 10px;
  }
}

@media (min-width : 1200px) {
  .grid-container{

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 60px calc(100vh - 180px) 60px 60px;
    grid-template-areas: 
      'NavBar Ordenar'
      'NavBar Galeria'
      'NavBar Galeria'
      'Footer Footer'
      ;  
  } 
  .Footer{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
